body {
  color: #666;
  font-family: Tahoma, Geneva, sans-serif;
}

table {
  border-color: #FFF;
}

td {
  padding-right: 20px;
}

img {
  display: inline-block;
  margin-right: 0px;
}

#profpic {
  margin-right: 10px;
}

img.research {
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  border-style: solid;
  border-color: #666;
  border-width: medium;
}

img.research.selected, img.research:hover {
  opacity:0.95;
  filter:alpha(opacity=95); /* For IE8 and earlier */
}

p {
  margin-top: 0px;
  margin-left: 0px;
}

p.header {
  font-size:120%;
  font-weight:bold;
}

p.researchheader {
  margin-bottom: 5px;
  font-size:120%;
  font-weight:bold;
}

.hidden {
  display: none;
}

.left {
  float: left;
}

div#center {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

div#pagetitle {
  text-align:center;
}

div#nav {
  text-align:center;
}

div#maincontent {
  float:left;
  margin-top:25px;
  text-align:left;
  font-size:80%;
}

div#contact {
  margin-top:25px;
  text-align:center;
  font-size:80%;
}

div#cv {
  margin-top:25px;
  text-align:center;
  font-size:80%;
}

div.maincontentheading {
  font-size:125%;
}

a {
  color: #666;
  text-decoration: none;
  border-bottom: 1px #666 dotted;
}

a.selected, a:hover {
  background: #CFF;
}

span.u {
  text-decoration: underline;
}
